@{
    Layout = null; // This prevents the default layout from affecting the login page
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/images/ATLogo.png">
    <title>AeeT - Asset Entry/Exit Tracking System [Login]</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <div class="logo">
        <img src="~/images/nttdata_logo_.png" alt="NTT DATA Business Solutions">
        
    </div>

    <div class="login-container">
        <h1 class="login-text">A(eǝ)T</h1>
        <p class="welcome-subtext">Asset Entry/Exit Tracking Tool</p>
        <p class="welcome-subtext">Please enter your credentials to login</p>

        <form action="/Account/Login" method="post">
     <input type="text" name="username" class="input-field" placeholder="Username" required autocomplete="off">
            <input type="password" name="password" class="input-field" placeholder="Password" required autocomplete="new-password">
            <button type="submit" class="login-btn">Login</button>
</form>
    </div>
    <script src="~/js/login.js"></script>
</body>

</html>
